.table {
    border-spacing: 0;
    border-collapse: separate;
    td {
        padding: 5px;
        border-bottom: 1px solid #c9c9c9;
        vertical-align: middle;

        &.header-td {
            padding-bottom: 5px;
        }
        .edit-button, .remove-button {
            position: relative;

            img {
                width: 18px;
            }
        }
    }
    [type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
        height: 21px;
        padding-top: 4px;
    }
}