*.pyc
*.DS_Store
yourtickets/yourtickets.dev.cfg
dev_compiled_static/
myenv
temp_creation_dir/*.*
!temp_creation_dir
yt_dashboard/node_modules/
yt_dashboard/static/yt_dashboard/
.env
env
yt_dashboard/node_modules

devstatic

docker-compose-local.yml
Dockerfile-local
activate.sh
venv
media/images/upload/images/event/*


.vscode