{% extends 'base.html' %}
{% load static %}
{% load index %}

{% block content %}
<div class="popup-overlay popup-overlay-fixed"></div>
    <div class="popup-login">
        <div class="bg-gray u-flex-3 clear">

        <!-- code for displaying success or error message in template -->
        {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
              </li>
              {% endfor %}
            </ul>
        {% endif %}

        <!-- Form rendering code for template -->
        <form action="" method="post">
            <div class="restpass">
              {% csrf_token %}

                {% if form.errors.items %}

                    {% for key, value in form.errors.items %}
                        {{ value }}
                    {% endfor %}

                {% endif %}
                <label for="{{ form.email_or_username.id_for_label }}">{% getWord lc "forgotpassword-textaboveemailfield" "Emailadres" %}:</label>
                <input value="{{ form.email_or_username.value|default_if_none:'' }}" id="{{ form.email_or_username.id_for_label }}" name="{{ form.email_or_username.html_name }}">

            </div>
            <button href="{% url 'index' %}" type="submit" class="m-top-24 u-inline-block w-100 uppercase button white bg-primary_color-fixed bold button-24">{% getWord lc "forgotpassword-buttontextsend" "Versturen" %} <div class="u-overlay"></div></button>

        </form>
    </div>
</div>

{% endblock %}