{% extends 'base.html' %}
{% load static %}
{% load index %}

{% block content %}
    <script type="text/javascript" src="{% static 'js/plugins/jquery.inputmask.bundle.min.js' %}"></script>
    <div class="popup-login">
        <div class="u-flex-column-to-row">
        <div class="bg-jet p-around-24 white u-flex-2 lineheight-1-2 u-order-2to1">
        <img class="m-top-60 m-bottom-60" src="{% static 'images/logo_2.svg' %}">
        <p class="m-bottom-24">{% getWord lc "profile-leftmaintext" "Er missen gegevens bij jou account, vul deze in om verder te kunnen." %}</p>
        </div>
        <form class="bg-gray u-flex-3 clear u-order-1to2" name="loginForm" action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <div class="p-around-36 popup-container-input">
        <h1 class="m-top-60 m-bottom-36 w-100 a-center light-gray bold uppercase">{% getWord lc "profile-titletext" "Extra gegevens" %}</h1>
        {% if error %}
        <p class="error-text">{{ error }}</p>
        {% endif %}

        <div class="u-flex">
        <label class="checkbox m-right-12">{% getWord lc "profile-male" "Man" %}<input class="u-float-right" type="radio" name="gender" value="M"></label>
        <label class="checkbox">{% getWord lc "profile-female" "Vrouw" %}<input class="u-float-right" type="radio" name="gender" value="F"></label>
        <input name="birth_date" class="form-input w-100" type="text" id="birth_date" placeholder="{% getWord lc "profile-birthdate" "Geboortedatum" %}">
        <input name="postcode" class="w-100 form-input" type="text" id="postcode" placeholder="{% getWord lc "profile-city" "Woonplaats" %}">
        </div>

        </div>
               <div class="bg-dark-gray m-top-90">
                      <button class="popup-button-m100 u-inline-block m-0 uppercase button white u-float-right bg-primary_color-fixed bold uppercase" type="submit"><span>{% getWord lc "profile-buttonsend" "Vul gegevens in" %}</span><i class="m-left-36 fa fa-angle-right bold"></i><div class="u-overlay"></div></button>
                  </div>
        </form>
        </div>
    </div>
    <script>
    $(function(){

        $("#birth_date").inputmask('dd-mm-yyyy', {placeholder: 'dd-mm-jjjj', clearMaskOnLostFocus:true});
    });
    </script>
{% endblock %}