{% load static %}
{% load ga %}
{% load ga_datalayer %}
{% ga section='head' %}
{% ga section='body' %}
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
<title>Ticketverkoop/marketing systeem voor events, workshops, festivals</title>
<meta name="description" content="Verkoop makkelijk tickets voor al jouw evenementen, festivals en workshop via jouw Yourtickets dashboard voor event organisatoren.">
<meta charset='utf-8'>
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-32x32.png' %}" sizes="32x32">
<link rel="icon" type="image/png" href="{% static 'images/favicon/favicon-16x16.png' %}" sizes="16x16">
<link rel="manifest" href="{% static 'images/favicon/manifest.json' %}">
<link rel="mask-icon" href="{% static 'images/favicon/safari-pinned-tab.svg' %}" color="#dc3547">
<meta name="apple-mobile-web-app-title" content="Yourtickets">
<meta name="application-name" content="Yourtickets">
<meta name="theme-color" content="#232732">
<link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">

<script type="text/javascript" src="{% static 'yourtickets/js/lib/jquery-2.1.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'yourtickets/lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'yourtickets/js/main.js' %}"></script>

<link rel='stylesheet' href="{% static 'yourtickets/lib/bootstrap/css/bootstrap.min.css' %}">
<link rel='stylesheet' href="{% static 'yourtickets/lib/bootstrap/css/bootstrap-theme.min.css' %}">
<link rel='stylesheet' href="{% static 'yourtickets/css/font.css' %}">
<link rel='stylesheet' href="{% static 'yourtickets/css/base.css' %}">