{% extends "dash/base.html" %}
{% load static %}


{% block title %}Yourtickets - Dashboard{% endblock %}

{% block content %}


<div class="u-flex">
  <header class="dashboard-header white p-tb-24-lr-36" style=" background: url({% static 'images/bg.jpg' %}) no-repeat center center fixed; background-size: cover;">

  </header>

  <div id="js-dashboard-container" class="dashboard-container p-around-36">
    <div class="a-center">
<p>Je bent niet gemachtigd om deze pagina te bekijken. Ga terug alsjeblieft.</p>
          </div>
  </div>
</div>

{% endblock %}
