{% load static %}
<title>Yourtickets admin</title>

<link rel="stylesheet" type="text/css" href="{% static "youradmin/css/lib/bootstrap.min.css"%}" />
<link rel="stylesheet" type="text/css" href="{% static "youradmin/css/lib/bootstrap-select.min.css"%}" />
<link rel="stylesheet" type="text/css" href="{% static "youradmin/css/lib/dataTables.bootstrap.css"%}" />
<link rel="stylesheet" type="text/css" href="{% static "youradmin/css/lib/bootstrap-datetimepicker.min.css"%}" />
<link rel="stylesheet" type="text/css" href="{% static "youradmin/css/mainbase.css"%}" />


<link rel="stylesheet" type="text/css" href="{% static "youradmin/css/components/datatable.css"%}" />
<link rel="stylesheet" type="text/css" href="{% static "youradmin/css/components/bootstrap.css"%}" />
<link rel="stylesheet" type="text/css" href="{% static "youradmin/css/components/bootstrap-checkbox.css"%}" />
<link rel="stylesheet" type="text/css" href="{% static "youradmin/css/all.css"%}" />
<link rel="stylesheet" type="text/css" href="{% static 'youradmin/lib/bootstrapselect/bootstrap-select.min.css' %}" />

<script type="text/javascript" src="{% static 'youradmin/js/lib/dot.min.js' %}"></script>
<script type="text/javascript" src="{% static 'youradmin/js/lib/jquery-2.1.4.min.js' %}"></script>

<script type="text/javascript" src="{% static 'youradmin/js/lib/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'youradmin/js/lib/jquery.cookie.js' %}"></script>
<script type="text/javascript" src="{% static 'youradmin/js/lib/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'youradmin/js/lib/dataTables.bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'youradmin/js/lib/dataTables.select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'youradmin/js/lib/bootstrap-select.min.js' %}"></script>
<script type="text/javascript" src="{% static 'youradmin/js/lib/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'youradmin/js/lib/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'youradmin/lib/bootstrapselect/bootstrap-select.min.js' %}"></script>

<script type="text/javascript" src="{% static 'youradmin/js/main.js' %}"></script>