<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td data-color="title" data-size="size title" data-min="25" data-max="45" data-link-color="link title color" data-link-style="text-decoration:none; color:#292c34;" class="title" align="center" style="font:28px/38px Arial, Helvetica, sans-serif; color:#292c34; padding:0 0 24px;">
            Hi {{ name }},
            <br><br>
            Klik op de onderstaande button om jouw ticket(s) te downloaden!
            <br/></br/>
            <a href="{{ url }}">Download</a>
        </td>
    </tr>
    <tr>
        <td data-color="text" data-size="size text" data-min="10" data-max="26" data-link-color="link text color" data-link-style="font-weight:bold; text-decoration:underline; color:#40aceb;" align="center" style="font:bold 16px/25px Arial, Helvetica, sans-serif; color:#888; padding:0 0 23px;">
            Heb je een vraag? Mail naar: tickets@yourtickets.nl
        </td>
    </tr>
</table>