<h2 class="uppercase m-bottom-24 m-top-12 l-large">GENERAL TERMS AND CONDITIONS OF USE YOURTICKETS</h2>

<span class="light-gray lineheight-1-3">

    <style>
        ol li{
            list-style-type: decimal;
        }
        .large{
            margin-top:20px;
        }
    </style>

WITH REGARD TO THE PURCHASE OF TICKETS VIA THE ONLINE TICKET SERVICE<br>
Established at Sniep 41, 1112 AC Diemen, the Netherlands<br>
Registered with the Chamber of Commerce under number 62950258<br>


<h3 class="large">Article 1. Definitions</h3>

In these terms and conditions of use the terms below shall have the following meaning:
<ol>
<li>Account: collection of data regarding a certain Buyer, which data can be accessed and changed via the Yourtickets website after providing the corresponding login data.
</li><li>Organiser: the natural or legal person (whether represented or representing) who uses the Online Ticket Service to offer and sell Tickets to a Buyer.
</li><li>Buyer: the natural or legal person who purchases one or more Tickets via the Online Ticket Service for an event of the Organiser.
</li><li>General Terms and Conditions: the present general terms and conditions of Yourtickets with regard to the purchase of Tickets via the Online Ticket Service.
</li><li>Content: all data, information, messages, data, text, music, sound, photo, video or other (digital) material.
</li><li>Online Ticket Service: the SaaS service provided by Yourtickets whereby the Buyer is offered the possibility to purchase Tickets via a (web) application.
</li><li>Agreement: the agreement between Yourtickets and the Buyer whereby it is agreed that the Buyer will use the Online Ticket Service.
</li><li>Tickets: all tickets purchased by the Buyer in the Online Ticket Service.
</li><li>In writing: “in writing” also includes communication by email, fax or digital (for example via an online interface), provided that the identity of the sender and the integrity of the content are sufficiently established.
</li><li>Service Fees: the commission due to Yourtickets per Ticket sold.
</li><li>Transaction Fees: the fees that are due to the Payment Service Provider per payment.
</li></ol>

<h3 class="large">Article 2. Applicability</h3>
<ol>
<li>These general terms and conditions apply to the use of the Online Ticket Service, including the purchase of Tickets.
</li><li>If the Agreement between Yourtickets and the Buyer is concluded via the Yourtickets website, the General Terms and Conditions will be shown to the Buyer when filling in the form, but before sending it out. The Buyer will be explicitly and specifically asked to accept the General Terms and Conditions (active consent).
</li><li>Yourtickets is at all times entitled to change these general terms and conditions. Changes to these general terms and conditions will be announced by means of an email to the Buyer’s email address, known to Yourtickets. Or by publication of the new terms and conditions on the Yourtickets website. The terms and conditions as they read at the time of the conclusion of the Agreement shall always apply. Therefore, Yourtickets advises the Buyer to consult these terms and conditions of use regularly.
</li></ol>


<h3 class="large">Article 3. Purchasing Tickets</h3>
<ol>
<li>The purpose of the Online Ticket Service is to enable the Buyer to purchase a ticket from an Organiser.
</li><li>If the Buyer wishes to order a Ticket, they must follow the online ordering procedure. During the ordering procedure, the Buyer must provide certain personal details, including name and date of birth, that are necessary for the delivery of the Ticket. The Buyer guarantees that this information is correct and up-to-date.
</li><li>If the Buyer has purchased a Ticket from an Organiser using the Online Ticket Service, the Buyer can indicate whether they wish to receive the Tickets on their own or another email address. The Buyer is responsible for entering the correct email address.
</li><li>The general terms and conditions of the Organiser may apply to the purchase of Tickets from an Organiser, as well as to attending an event. These general terms and conditions be requested at the organization of the event.
</li><li>By purchasing a Ticket, an agreement is concluded between the Organiser and the Buyer. Yourtickets is not part of this agreement. Yourtickets only acts as an intermediary.
</li></ol>

<h3 class="large">Article 4. Use of the Online Ticket Service</h3>
<ol>
<li>The Account is personal, non-transferable and may only be used by the Buyer. Login details provided or received by the Buyer are strictly confidential and may not be shared with third parties.
</li><li>The Buyer guarantees that the information and data that the Buyer places on the website is correct, complete and up-to-date.
</li><li>The Buyer understands and acknowledges that when using the Yourtickets website and the products and services offered thereon, they may be exposed to information and data that may be factually incorrect, insulting, indecent or otherwise objectionable to the Buyer. The Buyer waives all rights and/or (legal) means the Buyer has with respect to the aforementioned information and data against Yourtickets.
</li><li>The Buyer is explicitly - but not exclusively - prohibited:
a.	to use the Online Ticket Service in such a way that the rights of third parties are infringed;
b.	to use the Online Ticket Service to distribute computer viruses or material of a defamatory, obscene, offensive or threatening nature;
c.	to use the Online Ticket Service for the distribution of material for promotional or advertising purposes (SPAM) without having obtained prior written permission from Yourtickets, unless the addressee has explicitly requested its transmission;
d.	to make unlawful use of the Online Ticket Service or the information and/or Content provided on it;
e.	to use the Online Ticket Service in such a way that it is damaged, distorted, interrupted, discontinued, overloaded or otherwise made less efficient;
f.	to distribute part(s) of the Online Ticket Service, including but not limited to Content published on the website, on any medium whatsoever without the prior written approval of Yourtickets;
g.	to change or adapt any part of the Online Ticket Service and/or the systems, programs, services and/or technology belonging to it;
h.	to (attempt to) circumvent, disable or otherwise interfere with security related parts of the Online Ticket Service;
i.	to use the Online Ticket Service or the systems, programs, functionality and/or technology thereof for business use without the prior written approval of Yourtickets. This prohibition includes among others:
i.	to (re)sell access to the Online Ticket Service of Yourtickets on another website, in particular with the purpose of generating advertising and/or (subscription) income; and/or
ii.	the further distribution of the services offered by Yourtickets, among other things with the aim of generating income by means of business activities that are largely similar or comparable to the business activities driven by Yourtickets;
j.	to collect (part of) the content of the Online Ticket Service or (personal) data concerning visitors to the Online Ticket Service, whether or not by using an automated system.
</li><li>Yourtickets is at all times entitled to set further requirements and guidelines for the Content and the Online Ticket Service and to remove Content and services that do not meet these (new) requirements and guidelines from the Online Ticket Service and from its systems, without being obliged to pay any compensation or restitution to the Buyer.
</li><li>Yourtickets or the Organiser are entitled to set a maximum number of Tickets per order and Account.
</li></ol>


<h3 class="large">Article 5. Prices and price increase</h3>
Yourtickets is entitled to adjust the price of the Service Fees at any time. The changed prices are only valid for new Tickets.

<h3 class="large">Article 6. Payment</h3>
<ol>
<li>Payment is made by online payment (iDeal, credit card, debit card, PayPal or Bitcoin). A Payment Service Provider (Mollie) will be used. Within the framework of the payment, Yourtickets can share (personal) data of the Buyer with the Payment Service Provider. The payment terms of the Payment Service Provider apply to the payments made.
</li><li>After payment has been made, Yourtickets is no longer able to refund any amounts paid. If the Buyer is of the opinion that they are entitled to a refund of any amount, the Buyer must contact the Organiser.
</li></ol>


<h3 class="large">Article 7. Approval period and right of withdrawal</h3>
The applicability of any approval period or cooling-off period is expressly excluded. Due to the nature of the product (leisure services with a fixed date), no approval period applies to the sale of Tickets, not even in the case of a consumer distance purchase within the meaning of Article 7:46a sub b of the Dutch Civil Code. The Buyer is therefore not entitled to revoke the Agreement.

<h3 class="large">Article 8. Availability of the Online Ticket Service</h3>
<ol>
<li>Yourtickets aims to ensure maximum accessibility and availability of the Online Ticket Service. The Buyer is not entitled to any compensation, refund or setoff if the Online Ticket Service is not available or accessible at any time (whether or not for maintenance or as a result of any malfunction).
</li><li>Yourtickets is entitled to temporarily restrict or deny access to the Online Ticket Service without being obliged to pay any compensation to the Buyer, if this is necessary as a result of maintenance or troubleshooting.
</li><li>Yourtickets can change the Online Ticket Service at any time and at its own discretion and for any reason. Yourtickets does not need the prior consent of the Buyer.
</li></ol>

<h3 class="large">Article 9. Intellectual property</h3>
<ol>
<li>The Content on the Online Ticket Service is protected by copyright. The Buyer is not permitted to save (with the exception of the Content required to use Online Ticket Service), reproduce, modify, publish, distribute or transmit, sell or otherwise transfer or grant any rights to the Content without the prior written consent of the copyright holder.
</li><li>By posting Content on the Online Ticket Service, the Buyer grants Yourtickets a non-exclusive, royalty-free, transferable and sub-licensable worldwide license to use, reproduce, adapt, translate, distribute, publish and create derivative works of the Content, and to publish, reproduce or use the Content for promotional purposes in all known and future media.
</li></ol>

<h3 class="large">Article 10. Functionalities of third parties</h3>
<ol>
<li>The Buyer may, at their own discretion and risk, use functionalities that connect the Online Ticket Service or the Buyer’s Account on the Online Ticket Service with services of third parties (“Applications”), after which such Applications may interact with, connect to or collect and/or exchange information with the Buyer’s Account on the Online Ticket Service. By using such Applications, the Buyer acknowledges and agrees to the following: (i) if the Buyer uses an application to share data, the Buyer consents to the sharing of data about the Buyer’s Account on the Online Ticket Service, (ii) the use of the Applications may result in the disclosure of personally identifiable data and/or may be associated with the Buyer, even if Yourtickets has not provided this data itself, and (iii) the use of Applications takes place at the Buyer’s own discretion and risk, and the Buyer will indemnify Yourtickets for activities that occur in connection with the Applications.
</li><li>The use of Applications of third parties may be subject to the terms and conditions of use of these third parties.
</li></ol>

<h3 class="large">Article 11. Liability of Yourtickets</h3>
<ol>
<li>Yourtickets aims at the adequate functioning of the Online Ticket Service and the underlying systems and strives for an optimal user experience and maximum availability or accessibility. Yourtickets does not guarantee, however, that the Online Ticket Service or the underlying systems shall always function without interference and continuously. In this respect, Yourtickets points out that it also depends on third parties. Yourtickets is therefore not liable in case internal or external causes interfere with the functioning of the Online Ticket Service or the underlying systems, also, in that case, Yourtickets is not obliged to any refund or compensation.
</li><li>Yourtickets accepts no liability for and cannot guarantee that:
a.	the Online Ticket Service meets all the requirements and wishes of the Buyer;
b.	the Online Ticket Service is error-free, safe and faultless at all times;
c.	potential errors in software or program code can be corrected;
d.	the Content in the Online Ticket Service is correct, complete and up to date;
e.	no unauthorized access to or unlawful use of the Online Ticket Service or systems of Yourtickets will be made by third parties.
</li><li>In the communication between Buyers themselves or between the Buyer and Yourtickets, Yourtickets is in no way liable for misunderstandings, delays or unclear messages caused by the use of the Online Ticket Service of Yourtickets.
4.	Yourtickets will in no case be liable for any form of damage, direct or indirect, in any way caused by or resulting from:
a.	the use of the Online Ticket Service of Yourtickets;
b.	software errors in the Online Ticket Service of Yourtickets;
c.	inaccessibility to the Online Ticket Service of Yourtickets, due to technical causes, incorrectly provided URL or non-functioning email address of the Buyer;
d.	maintenance and calamities;
e.	consequential damage.
</li><li>Yourtickets is not liable for damage suffered by the Buyer or a third party as a result of a visit to an event of the Organiser.
</li><li>The exclusions and limitations of liability in these General Terms and Conditions do not apply if and insofar as there is intent or gross negligence on the part of Yourtickets.
</li></ol>

<h3 class="large">Article 12. Intermediation</h3>
<ol>
<li>Yourtickets only makes the use of the Online Ticket Service available, but in no case forms part of an Agreement that is concluded between the Buyer and an Organiser or a third party through the use of the Online Ticket Service. Yourtickets only facilitates the sale of Tickets via the Online Ticket Service and only acts as an intermediary.
</li><li>If the event for which the Buyer has purchased Tickets is cancelled by the Organiser or does not take place for any other reason, and the Organiser decides to reimburse the Buyer for the costs of Tickets, Yourtickets retains the right to the paid Service Fees. No refund of Service Fees or Transaction Fees will be made.
</li></ol>

<h3 class="large">Article 13. Exclusion from use</h3>
<ol>
<li>Yourtickets grants the Buyer permission to gain access to the Online Ticket Service of Yourtickets and to use it in accordance with these General Terms and Conditions. Yourtickets reserves the right to refuse the Buyer (further) access to the Online Ticket Service and to close the Buyer’s Account and to remove Content of the Online Ticket Service placed by the Buyer and from the systems, if the Buyer acts in violation of these terms and conditions, without Yourtickets being obliged to pay any compensation to the Buyer.
</li><li>Any damage Yourtickets suffers as a result of the Buyer’s failure to comply with these terms and conditions shall be fully recovered by Yourtickets from the Buyer.
</li><li>Yourtickets is not obliged to remove the Buyer’s data or Content placed by the Buyer from its systems after the Account has been closed, or to keep them stored for any longer.
</li></ol>


<h3 class="large">Article 14. Links to third-party websites</h3>
Yourtickets’ Online Ticket Service may contain links to third-party websites. Yourtickets is in no way responsible for the content of these websites. Links placed by Yourtickets does not imply in any way an implicit approval of the content of these websites or web pages.

<h3 class="large">Article 15. Indemnity</h3>
The Buyer indemnifies Yourtickets against potential or alleged claims of third parties, including claims of third parties (including in any case the Organiser and other Buyers), who in connection with the use of the website or by the Buyer on the Online Ticket Service suffer damage and whose cause is attributable to the Buyer. If Yourtickets is sued by third parties in this respect, the Buyer is obliged to assist Yourtickets both extrajudicially and judicially and to immediately do all that may be expected of them in that case. If the Buyer remains in default with regard to taking adequate measures, Yourtickets is, without notice of default, entitled take measures. All costs and damage on the part of Yourtickets and third parties as a result of this will be entirely for the account and risk of the Buyer.

<h3 class="large">Article 16. Complaints </h3>
<ol>
<li>Complaints about the operation of the Online Ticket Service or the Content contained thereon can be submitted in writing by email to Yourtickets: info@yourtickets.nl.
</li><li>Complaints must be reported to Yourtickets within 30 days after the complaint arose.
</li><li>Yourtickets makes every effort to answer any complaints within 7 days and to deal with them satisfactorily within 30 days.
</li><li>Complaints that are not submitted in the manner mentioned in this article or within the period stated therein, will not be dealt with by Yourtickets.
</li></ol>


<h3 class="large">Article 17. Data protection</h3>
<ol>
<li>Yourtickets shall at all times comply with the relevant regulations regarding the protection of personal data. This compliance implies, among other things, that Yourtickets will not make the company and personal data of the Buyer available to third parties, unless this is necessary for the execution of the agreement, the Buyer has given permission or Yourtickets is forced to do so by an order given by a competent authority.
</li><li>Yourtickets takes the reasonably possible technical and organisational measures for the safety and security of its systems, taking into account the nature of the risks, the state of the art and the costs of implementation of the measures.
</li></ol>

<h3 class="large">Article 18. Applicable law and choice of forum</h3>
<ol>
<li>Dutch law applies to all agreements concluded by Yourtickets with the Buyer, unless parties have agreed otherwise in writing.
</li><li>Any dispute between Yourtickets and the Buyer regarding the use of the Online Ticket Service shall exclusively be submitted to the competent Dutch court in Amsterdam, unless a mandatory provision is against treatment by this court.
</li><li>The Dutch text is always decisive for the content and interpretation of these general terms and conditions and any translations thereof.

</li></ol>
</span>