<h2 class="uppercase m-bottom-24 m-top-12 l-large">ALGEMENE GEBRUIKSVOORWAARDEN YOURTICKETS</h2>

<span class="light-gray lineheight-1-3">

    <style>
        ol li{
            list-style-type: decimal;
        }
        .large{
            margin-top:20px;
        }
    </style>

MET BETREKKING TOT HET AANKOPEN VAN TICKETS VIA DE ONLINE TICKET SERVICE<br/>
Gevestigd aan de Sniep 41, 1112 AC Diemen, Nederland<br/>
Ingeschreven bij de Kamer van Koophandel onder nummer 62950258<br/>

<h3 class="large">Artikel 1. Definities</h3>
    <ol>
In deze gebruiksvoorwaarden wordt verstaan onder:
<li>Account: verzameling gegevens met betrekking tot een bepaalde Koper, welke gegevens kunnen worden ingezien en
gewijzigd via de website van Yourtickets na het verstrekken van bijhorende inloggegevens.
</li><li>Organisator: de (al dan niet vertegenwoordigde of vertegenwoordigende) natuurlijk of rechtspersoon die gebruik maakt
van de Online Ticket Service om Tickets aan te bieden en te verkopen aan een Koper.
</li><li>Koper: de natuurlijk of rechtspersoon die via de Online Ticket Service een of meer Tickets aanschaft voor een
evenement van de Organisator.
</li><li>Algemene Voorwaarden: de onderhavige algemene voorwaarden van Yourtickets met betrekking tot het aankopen van
Tickets via de Online Ticket Service.
</li><li>Content: alle gegevens, informatie, berichten, data, tekst, muziek, geluid, foto, video of ander (digitaal) materiaal.
</li><li>Online Ticket Service: de door Yourtickets ter beschikking gestelde SaaS-dienst waarbij aan de Koper de mogelijkheid
wordt geboden om Tickets te kopen via een (web)applicatie.
</li><li>Overeenkomst: de overeenkomst tussen Yourtickets en de Koper waarbij wordt overeengekomen dat de Koper gebruik
zal maken van de Online Ticket Service.
</li><li>Tickets: alle toegangsbewijzen die in de Online Ticket Service door de Koper worden aangekocht.
</li><li>Schriftelijk: onder “schriftelijk” valt in deze algemene voorwaarden ook communicatie per e-mail, fax of digitaal
(bijvoorbeeld via een online interface) mits de identiteit van de afzender en integriteit van de inhoud voldoende
vaststaat.
</li><li>Servicekosten: de aan Yourtickets verschuldigde provisie per verkocht Ticket.
</li><li>Transactiekosten: de kosten die per betaling aan de Payment Service Provider verschuldigd zijn.
    </li></ol>

<h3 class="large">Artikel 2. Toepasselijkheid</h3>
<ol><li>
Deze algemene voorwaarden zijn van toepassing op het gebruik van de Online Ticket Service, waaronder de aankoop
van Tickets.
</li><li>Indien de Overeenkomst tussen Yourtickets en de Koper tot stand komt via de website van Yourtickets, zullen de
Algemene Voorwaarden bij het invullen, doch voor het versturen van het formulier aan de Koper beschikbaar gesteld
worden. Daarbij zal de Koper expliciet en specifiek worden gevraagd om de Algemene Voorwaarden te accepteren
(actieve instemming).
</li><li>Yourtickets is te allen tijde gerechtigd deze algemene voorwaarden te wijzigen. Wijzigingen van deze algemene
voorwaarden worden bekendgemaakt door middel van een e-mailbericht aan het bij Yourtickets bekende e-mailadres
van de Koper of door publicatie van de nieuwe voorwaarden op de website van Yourtickets. Van toepassing zijn steeds
de voorwaarden zoals deze luiden ten tijde van het sluiten van de Overeenkomst.
</li></ol>
<h3 class="large">Artikel 3. Aanschaffen van Tickets</h3>
    <ol><li>
De Online Ticket Service heeft als doel de aankoop van een Ticket van een Organisator door een Koper mogelijk te
maken.
</li><li>Indien de Koper een Ticket wil bestellen, dient hij de online bestelprocedure te doorlopen. Gedurende de
bestelprocedure dient de Koper bepaalde persoonsgegevens, waaronder naam en geboortedatum, te verstrekken die
noodzakelijk zijn voor de levering van het Ticket. Koper garandeert dat deze informatie correct, actueel en kloppend is.
</li><li>Indien de Koper met behulp van de Online Ticket Service een Ticket heeft aangeschaft bij een Organisator, kan Koper
aangeven of hij de Tickets wilt ontvangen op zijn eigen e-mailadres of een ander e-mailadres. De Koper is zelf
verantwoordelijk voor het juist invullen van het e-mailadres.
</li><li>Op de aanschaf van Tickets bij een Organisator, alsmede op het bijwonen van een evenement zijn mogelijk de algemene
voorwaarden van de Organisator van toepassing. Deze algemene voorwaarden kunnen de bij de organisatie van het evenement worden opgevraagd.
</li><li>Door de aankoop van een Ticket komt een overeenkomst tot stand tussen de Organisator en de Koper. Yourtickets
maakt geen onderdeel van deze overeenkomst uit. Yourtickets treedt daarbij slechts op als bemiddelaar.
</li></ol>
<h3 class="large">Artikel 4. Gebruik van de Online Ticket Service</h3>
        <ol><li>
De Account is persoonsgebonden, niet overdraagbaar en mag slechts door de Koper zelf worden gebruikt. Door de
Koper opgegeven of ontvangen inloggegevens zijn strikt vertrouwelijk en mogen niet met derden worden gedeeld.
</li><li>De Koper staat er voor in dat de informatie en gegevens die de Koper op de website plaatst juist, volledig en up-to-date
is.
</li><li>De Koper begrijpt en erkent dat hij bij het gebruik van de website van Yourtickets en de daarop aangeboden producten
en service eventueel zal worden blootgesteld aan informatie en gegevens die feitelijk onjuist, beledigend, onfatsoenlijk
of anderszins verwerpelijk voor de Koper kan zijn. De Koper doet afstand van alle rechten en/of (rechts)middelen
waarover de Koper (eventueel) met betrekking tot voormelde informatie en gegevens jegens Yourtickets beschikt.
</li><li>Het is de Koper uitdrukkelijk – doch niet uitsluitend – verboden:
a. de Online Ticket Service te gebruiken op een dergelijke wijze dat er een inbreuk gepleegd wordt op rechten van
derden;
b. de Online Ticket Service te gebruiken voor het verspreiden van computervirussen of materiaal met een lasterlijk,
obsceen, aanstootgevend of (be)dreigend karakter;
c. de Online Ticket Service te gebruiken voor verspreiding van materiaal met promotionele of publicitaire doeleinden
(SPAM) zonder hiervoor voorafgaande, schriftelijke toestemming van Yourtickets te hebben verkregen, tenzij de
geadresseerde uitdrukkelijk om de transmissie daarvan heeft verzocht;
d. wederrechtelijk gebruik te maken van de Online Ticket Service of de daarop verstrekte informatie en/of getoonde
Content;
e. zodanig gebruik te maken van de Online Ticket Service dat deze daardoor wordt beschadigd, vervormd,
onderbroken, stopgezet, overbelast of anderszins minder efficiënt wordt gemaakt;
f. om zonder de voorafgaande schriftelijke goedkeuring van Yourtickets op welk medium dan ook een gedeelte of
gedeelten van de Online Ticket Service te verspreiden, met inbegrip van, doch niet beperkt tot op de website
gepubliceerde Content;
g. om enig gedeelte van de Online Ticket Service en/of de daartoe behorende systemen, programma’s, diensten
en/of technologie te wijzigen of aan te passen;
h. om beveiliging gerelateerde onderdelen van de Online Ticket Service te (trachten te) omzeilen, onklaar te maken
dan wel anderszins daarin in te grijpen;
i. om zonder de voorafgaande schriftelijke goedkeuring van Yourtickets ten behoeve van zakelijke toepassingen
gebruik te maken van de Online Ticket Service of de daarop vervatte systemen, programma’s, functionaliteit en/of
technologie. Dit verbod omvat onder andere:
i. het (weder)verkopen van toegang tot de Online Ticket Service van Yourtickets op een andere website, met
name met het doel om advertentie- en/of (abonnements)inkomsten te genereren; en/of
ii. het verder verspreiden van de door Yourtickets aangeboden diensten, onder meer met het doel om
inkomsten te genereren door middel van ondernemingsactiviteiten die goeddeels soortgelijk of
vergelijkbaar zijn met de door Yourtickets gedreven ondernemingsactiviteiten;

j. om (een gedeelte van) de inhoud van de Online Ticket Service of (persoons)gegevens aangaande de bezoekers van
de Online Ticket Service, al dan niet door gebruikmaking van een geautomatiseerd systeem, te verzamelen of te
vergaren.
</li><li>Het staat Yourtickets te allen tijde vrij om nadere eisen en richtlijnen aan de Content en de Online Ticket Service te
stellen en Content en diensten die niet aan deze (nieuwe) eisen en richtlijnen voldoen van de Online Ticket Service en uit
haar systemen te verwijderen, zonder hiermee tot enige schadevergoeding of restitutie jegens de Koper gehouden te
zijn.
</li><li>Yourtickets of de Organisator zijn gerechtigd om een maximum aantal Tickets per bestelling en Account in te stellen.
</li></ol>
<h3 class="large">Artikel 5. Prijzen en prijsverhoging</h3>
Yourtickets is gerechtigd de prijs van de Servicekosten op ieder gewenst moment aan te passen. De gewijzigde prijzen gelden
slechts voor nieuw aan te schaffen Tickets.

<h3 class="large">Artikel 6. Betaling</h3>
            <ol><li>
Betaling geschiedt door online betaling (onder meer via iDeal, creditcard, bancontact, Paypal of Bitcoin). Daarbij zal
gebruik worden gemaakt van een Payment Service Provider (Mollie). In het kader van de betaling kan Yourtickets
(persoons)gegevens van de Koper delen met de Payment Service Provider. Op de verrichte betalingen zijn de
betalingsvoorwaarden van de Payment Service Provider van toepassing.
</li><li>Nadat betaling heeft plaatsgevonden, is restitutie van betaalde bedragen door Yourtickets niet meer mogelijk. Indien de
Koper van mening is dat hij/zij recht heeft op restitutie van enig bedrag, dient de Koper zich tot de Organisator te
wenden.
</li></ol>
<h3 class="large">Artikel 7. Zichttermijn en herroepingsrecht</h3>
De toepasselijkheid van enige zichttermijn c.q. bedenktijd is uitdrukkelijk uitgesloten. Wegens de aard van het product
(diensten voor vrijetijdsbesteding waarbij een datum is afgesproken) is op de verkoop van Tickets geen zichttermijn van
toepassing, ook niet indien er sprake is van een consumentkoop op afstand in de zin van art. 7:46a sub b BW. De Koper komt
derhalve geen recht op herroeping van de Overeenkomst toe.

<h3 class="large">Artikel 8. Beschikbaarheid van de Online Ticket Service</h3>
                <ol><li>
Yourtickets stelt zich de maximale bereikbaarheid en beschikbaarheid van de Online Ticket Service ten doel. De Koper
heeft geen recht op enige schadevergoeding, restitutie of verrekening, indien de Online Ticket Service op enig moment
(al dan niet voor onderhoud of als gevolg van enige storing) niet bereikbaar of beschikbaar is.
</li><li>Yourtickets is gerechtigd de toegang tot de Online Ticket Service (tijdelijk) te beperken of te weigeren zonder daarmee
tot enige schadevergoeding jegens de Koper gehouden te zijn, bijvoorbeeld indien dit als gevolg van onderhoud of het
oplossen van storingen noodzakelijk is.
</li><li>Het is Yourtickets toegestaan de Online Ticket Service op ieder gewenst en naar eigen inzicht te wijzigen en voor zover
Yourtickets dit nodig acht. Yourtickets heeft hiertoe geen voorafgaande toestemming van de Koper nodig.

<h3 class="large">Artikel 9. Intellectuele eigendom</h3>
                    <ol><li>
De Content in de Online Ticket Service is auteursrechtelijk beschermd. Het is de Koper niet toegestaan de Content
zonder voorafgaande schriftelijke toestemming van de auteursrechthebbende op te slaan (met uitzondering van de
Content die benodigd is om Online Ticket Service te kunnen gebruiken), te reproduceren, te wijzigen, openbaar te
maken, te distribueren of te verzenden, te verkopen of anderszins over te dragen of enige rechten hierop te verlenen.
</li><li>De Koper geeft Yourtickets door het plaatsen van Content op de Online Ticket Service een niet-exclusieve, royaltyvrije,
overdraagbare en in sublicentie te geven wereldwijde licentie, om de Content te gebruiken, te reproduceren, aan te
passen, te vertalen, te distribueren, te publiceren en afgeleide werken te creëren en om de Content in alle nu bekende
en toekomstige media openbaar te maken, te verveelvoudigen of voor promotionele doeleinden aan te wenden.
</li></ol>
<h3 class="large">Artikel 10. Functionaliteiten van derden</h3>
                        <ol><li>
De Koper kan, geheel naar eigen inzicht en risico, gebruik maken van functies die de Online Ticket Service of het Account
van de Koper op de Online Ticket Service verbinden met services van derden (&#39;Toepassingen&#39;), waarna dergelijke
Toepassingen interactie kunnen hebben met, verbinding kunnen maken met of informatie kunnen verzamelen van en/of
uitwisselen met het Account van de Koper op de Online Ticket Service. Door gebruik te maken van dergelijke
Toepassingen, erkent de Koper en gaat de Koper akkoord met het volgende: (i) indien de Koper een toepassing gebruikt
om gegevens te delen, stemt de Koper erin toe dat gegevens over het Account van de Koper op de Online Ticket Service
worden gedeeld, (ii) het gebruik van de Toepassingen ertoe kan leiden dat persoonlijk identificeerbare gegevens
openbaar worden gemaakt en/of met de Koper in verband kunnen worden gebracht, zelfs als Yourtickets deze gegevens
niet zelf heeft verstrekt, en (iii) het gebruik van Toepassingen vindt naar eigen keuze en voor eigen risico plaats, en de
Koper zal Yourtickets schadeloos stellen voor activiteiten die plaatsvinden in verband met de Toepassingen.
</li><li>Op het gebruik van Toepassingen van derden zijn mogelijk de gebruiksvoorwaarden van deze derden van toepassing.
</li></ol>
<h3 class="large">Artikel 11. Aansprakelijkheid van Yourtickets</h3>
                            <ol><li>
Yourtickets stelt zich het adequaat functioneren van de Online Ticket Service en de achterliggende systemen ten doel en
streeft hierbij naar een optimale gebruikerservaring en maximale beschikbaarheid c.q. bereikbaarheid. Yourtickets staat
er echter niet voor in dat de Online Ticket Service of de achterliggende systemen altijd storingsvrij en volcontinu
functioneren. Yourtickets wijst er in dit verband op dat zij hierbij tevens afhankelijk is van derden. Yourtickets is dan ook
niet aansprakelijk in geval interne of externe oorzaken aan het functioneren van de Online Ticket Service of de
achterliggende systemen in de weg staan, ook is Yourtickets in dat geval niet gehouden tot enige restitutie of
schadevergoeding.
</li><li>Yourtickets aanvaardt geen aansprakelijkheid voor en kan niet garanderen dat:
a. de Online Ticket Service aan alle eisen en wensen van de Koper voldoet;
b. de Online Ticket Service te allen tijde storingsvrij, veilig en foutloos is;
c. mogelijke fouten in software of programmacode gecorrigeerd (kunnen) worden;
d. de Content in de Online Ticket Service juist, volledig en actueel is;
e. er geen ongeautoriseerde toegang tot of onrechtmatig gebruik van de Online Ticket Service of systemen van
Yourtickets door derden zal worden gemaakt.
</li><li>In het communicatieverkeer tussen Kopers onderling of tussen de Koper en Yourtickets is Yourtickets op geen enkele
manier aansprakelijk voor misverstanden, vertragingen of niet overkomen van boodschappen dan wel onduidelijke
mededelingen veroorzaakt door het gebruik van de Online Ticket Service van Yourtickets.
</li><li>Yourtickets zal in geen enkel geval aansprakelijk zijn voor elke vorm van schade, direct of indirect, op enige wijze
ontstaan door of voortvloeiend uit:
a. het gebruik van de Online Ticket Service van Yourtickets;
b. softwarefouten in de Online Ticket Service van Yourtickets;
c. ontoegankelijkheid tot de Online Ticket Service van Yourtickets, wegens technische oorzaken, foutief verstrekte
URL of een niet functionerend e-mailadres van de Koper;
d. onderhoud en calamiteiten;
e. gevolgschade.
</li><li>Yourtickets is niet aansprakelijk voor schade die de Koper of een derde lijdt als gevolg van een bezoek aan een
evenement van de Organisator.
</li><li>De uitsluitingen en beperkingen van aansprakelijkheid in deze Algemene Voorwaarden gelden niet indien en voor zover
sprake is van opzet of grove schuld aan de zijde van Yourtickets.
</li></ol>
<h3 class="large">Artikel 12. Bemiddeling</h3>
                                <ol><li>
Yourtickets stelt slechts het gebruik van de Online Ticket Service ter beschikking, maar maakt in geen geval onderdeel
uit van een Overeenkomst die door het gebruik van de Online Ticket Service tussen de Koper en een Organisator of een
derde tot stand komt. Yourtickets faciliteert enkel de verkoop van Tickets via de Online Ticket Service en treedt daarbij
slechts op als bemiddelaar.
</li><li>Indien het evenement waarvoor de Koper Tickets heeft aangeschaft door de Organisator wordt geannuleerd of om een
andere reden geen doorgang vindt, en de Organisator besluit de kosten van Tickets aan de Koper terug te betalen,
behoudt Yourtickets het recht op de betaalde Servicekosten. Er vindt in dat geval geen restitutie van de Servicekosten of
Transactiekosten plaats.
</li></ol>
<h3 class="large">Artikel 13. Uitsluiting van gebruik</h3>
                                    <ol><li>
Yourtickets verleent de Koper toestemming om zich toegang te verstrekken tot de Online Ticket Service van Yourtickets
en deze te gebruiken in overeenstemming met de onderhavige Algemene Voorwaarden. Yourtickets behoudt zich het
recht voor de Koper de (verdere) toegang tot de Online Ticket Service te weigeren en de Account van de Koper op te
heffen alsmede door de Koper geplaatste Content van de Online Ticket Service en uit de systemen te verwijderen,
indien de Koper handelt in strijd met deze voorwaarden, zonder dat Yourtickets daarmee tot enige schadevergoeding
jegens de Koper gehouden is.
</li><li>Eventuele schade die Yourtickets lijdt als gevolg van het niet-naleven van de onderhavige voorwaarden door de Koper,
zal door Yourtickets integraal op de Koper worden verhaald.
</li><li>Yourtickets is niet gehouden de gegevens van de Koper of door de Koper geplaatste Content na het opheffen van de
Account van haar systemen te verwijderen, of nog langer opgeslagen te (doen) houden.
</li></ol>
<h3 class="large">Artikel 14. Links naar andere websites</h3>
De Online Ticket Service van Yourtickets bevat mogelijk links naar websites van derden. Yourtickets is op geen enkele wijze
verantwoordelijk voor de inhoud van de websites waar naartoe gelinkt wordt. Het plaatsen van links door Yourtickets houdt
op geen enkele wijze een impliciete goedkeuring in van de inhoud van deze websites of webpagina’s.

<h3 class="large">Artikel 15. Vrijwaring</h3>
De Koper vrijwaart Yourtickets voor eventuele c.q. vermeende aanspraken van derden, daaronder mede begrepen
aanspraken van derden (waaronder in ieder geval de Organisator en andere Kopers), die in verband met het gebruik van de
website of door de Koper op de Online Ticket Service geplaatste Content schade lijden en waarvan de oorzaak aan de Koper
toerekenbaar is. Indien Yourtickets uit dien hoofde door derden mocht worden aangesproken, dan is de Koper gehouden
Yourtickets zowel buiten als in rechte bij te staan en onverwijld al hetgeen te doen dat van hem in dat geval verwacht mag
worden. Indien de Koper in gebreke blijft ten aanzien van het nemen van adequate maatregelen, dan is Yourtickets, zonder
ingebrekestelling, gerechtigd zelf daartoe over te gaan. Alle kosten en schade aan de zijde van Yourtickets en derden
daardoor ontstaan, komen integraal voor rekening en risico van de Koper.

<h3 class="large">Artikel 16. Klachten</h3>
                                        <ol>
<li>Klachten over de werking van de Online Ticket Service of daarop aanwezige Content kunnen schriftelijk via e-mail aan
Yourtickets worden doorgegeven: info@yourtickets.nl.
</li><li>Klachten dienen uiterlijk binnen 30 dagen na het ontstaan van de klacht aan Yourtickets te worden gemeld.
</li><li>Yourtickets spant zich in om eventuele klachten uiterlijk binnen 7 dagen te beantwoorden en binnen 30 dagen naar bevrediging af te handelen.
</li><li>Klachten die niet op de in dit artikel genoemde wijze of binnen de daarin gestelde termijn worden ingediend, worden
niet door Yourtickets in behandeling genomen.
</li></ol>
<h3 class="large">Artikel 17. Gegevensbescherming</h3>
                                            <ol>
<li>Yourtickets zal te allen tijde de relevante regelgeving op het gebied van de bescherming van persoonsgegevens naleven.
Deze naleving impliceert onder meer dat Yourtickets de bedrijfs- en persoonsgegevens van de Koper niet aan derden ter
beschikking zal stellen, tenzij dit noodzakelijk is voor de uitvoering van de overeenkomst, de Koper daarvoor zijn
toestemming verleent of Yourtickets daartoe wordt gedwongen krachtens een door een bevoegde autoriteit gegeven
last.
</li><li>Yourtickets neemt de redelijkerwijs mogelijke technische en organisatorische maatregelen ten behoeve van de
veiligheid en beveiliging van haar systemen, daarbij rekening houdende met de aard van de risico&#39;s, de stand van de
techniek en de kosten van implementatie van de maatregelen.
</li></ol>
<h3 class="large">Artikel 18. Toepasselijk recht en forumkeuze</h3>
                                                <ol>
<li>Op alle door Yourtickets met de Koper gesloten overeenkomsten is het Nederlandse recht van toepassing, tenzij
partijen schriftelijk anders overeengekomen zijn.
</li><li>Ieder geschil tussen Yourtickets en de Koper ter zake van het gebruik van de Online Ticket Service zal bij uitsluiting
worden voorgelegd aan de daartoe bevoegde Nederlandse rechter te Amsterdam, tenzij een dwingendrechtelijke
bepaling zich tegen behandeling door deze rechter verzet.
</li><li>De Nederlandse tekst is steeds bepalend voor de inhoud en uitleg van deze algemene voorwaarden en eventuele
vertalingen daarvan.
</li></ol>
</span>