<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/static/yt_dashboard/favicon.ico">
    <title>tt</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <link
        href="/static/yt_dashboard/css/account~event_edit~event_saleschannels~event_visitors~events~login~multishop.e5a04aaf.css"
        rel="prefetch">
    <link href="/static/yt_dashboard/css/chunk-4d5aa7d8.247fae9e.css" rel="prefetch">
    <link href="/static/yt_dashboard/css/chunk-99781596.16fe7a21.css" rel="prefetch">
    <link href="/static/yt_dashboard/css/event_edit.0cd110c0.css" rel="prefetch">
    <link href="/static/yt_dashboard/css/event_visitors.c705b57e.css" rel="prefetch">
    <link href="/static/yt_dashboard/css/login.601d8c98.css" rel="prefetch">
    <link href="/static/yt_dashboard/js/account.c9906051.js" rel="prefetch">
    <link
        href="/static/yt_dashboard/js/account~event_edit~event_saleschannels~event_visitors~events~login~multishop.7ea2bdcd.js"
        rel="prefetch">
    <link href="/static/yt_dashboard/js/chunk-2d0d6932.aca9c609.js" rel="prefetch">
    <link href="/static/yt_dashboard/js/chunk-2d229031.2836e0d8.js" rel="prefetch">
    <link href="/static/yt_dashboard/js/chunk-4d5aa7d8.d8be751e.js" rel="prefetch">
    <link href="/static/yt_dashboard/js/chunk-99781596.f7c5abb2.js" rel="prefetch">
    <link href="/static/yt_dashboard/js/event.d9653439.js" rel="prefetch">
    <link href="/static/yt_dashboard/js/event_edit.eb8ea627.js" rel="prefetch">
    <link href="/static/yt_dashboard/js/event_saleschannels.ac0c1c30.js" rel="prefetch">
    <link href="/static/yt_dashboard/js/event_visitors.fe545a08.js" rel="prefetch">
    <link href="/static/yt_dashboard/js/events.6422d1ba.js" rel="prefetch">
    <link href="/static/yt_dashboard/js/login.33bb8f7b.js" rel="prefetch">
    <link href="/static/yt_dashboard/js/multishop.8809041a.js" rel="prefetch">
    <link href="/static/yt_dashboard/css/chunk-vendors.c70f132e.css" rel="preload" as="style">
    <link href="/static/yt_dashboard/js/app.1d96fdc8.js" rel="preload" as="script">
    <link href="/static/yt_dashboard/js/chunk-vendors.179b8db1.js" rel="preload" as="script">
    <link href="/static/yt_dashboard/css/chunk-vendors.c70f132e.css" rel="stylesheet">
</head>

<body><noscript><strong>We're sorry but tt doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong></noscript>
    <div id="app"></div>
    <script src="/static/yt_dashboard/js/chunk-vendors.179b8db1.js"></script>
    <script src="/static/yt_dashboard/js/app.1d96fdc8.js"></script>
</body>

</html>