.table{
    .footer{
        padding-top:20px;
        font-size:16px;
        font-weight:bold;
        border-bottom:none;
        text-align: right;
    }
    .copyurl{
        top:4px;
        margin-left:10px;
    }
    td{
        padding:10px;
    }
}